{%extends 'base.html'%}
{%block body%}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 330px;
       
        background-color: white;
        margin-top: 3px;
        margin-bottom: 10px;
    }

    .cardd {


        width: 400px;
        float: right;
        background-color: white;
        margin-top: 3px;
        margin-bottom: 8px;
        
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        background-color: white;
    }

    .phto {
     
        height: 145px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .tag {
        margin-left: 10px;

    }
</style>

<div class="card" style="float:left;
margin-top:10px;
margin-left: 10px;
margin-bottom:10px;
height: 493px;
width:327px;
">
    <center>

       
                <div>
                    <div>
                        <img src="/static/easelogo.png" alt="image 1" style="height: 155px;width:100%;">
                    </div>

                <div>
                    <img src="/static/easelogo.png" alt="image 1" style="height:155px;width:100%;margin-top: 10px;">
                </div>

                <div>
                    <img src="/static/easelogo.png" alt="image 1" style="height: 155px;width:100%;margin-top: 10px;">
                </div>


                </div>

                
            
            </div>
        </div>



<div class="card" 
style="float: left;
margin-top: 10px;
margin-left: 10px;
height: 493px;
border-style: solid;
border-width: thin;"

>
    <center>
    <h4>-Product Details-</h4>
    </center>
</div>
<iframe style="height:250px; width:550px;  margin-left:15px; margin-top:15px;margin-bottom:10px;float: left;"
    src="https://www.youtube.com/embed/ppoNaTbjuts?autoplay=1" title="YouTube video player" frameborder="0"
    allow="accelerometer; &autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<div class="card" style="float: left;
margin-top: -2px;
margin-left:15px;
height: 230px;
width:250px;
border-style: solid;
border-width: thin;">
    
        <style>
            .data {
                
                margin-top: -13px;
                margin-left: 10px;
            }
        </style>
        <center>
        <img src="/static/oneplus.png" style="height:45px; width:90px; margin-right: 10px;margin-top: 15px;">
        </center>
        <p style="margin-left: 10px;">Product Name: </p><br>
        <p class="data">Brand: </p><br>
        <p class="data">Country of Origin:</p><br>
        <p class="data">Seller: Ease My Shopping</p><br>
</div>




<!-- PRICE TAG -->
<div class="card" style="background-color:white;
    width:220px;
    margin-top:25px;
    margin-left:20px;
    float:left;
    height:230px;
    margin-bottom: -10px;">
    <div  style="height:25px;">
        <img src="https://asset20.ckassets.com/resources/image/stores/flipkart-mobiles-coupons.png"
            style="width:100px;height:55px;float:left;margin-top:10px;">
    </div><br><br><br>


x
    <div class="card" style="width:100% ;margin-top: 10px;">

        <p style="margin-left: 10px;margin-top: 10px;">Selling Price: <b>₹{{items.Price_flipkart}}</b></p>
    </div>
    <div class="card" style="width:100%;margin-top:-10px;">
        <p style="margin-left: 10px;margin-top: 10px;">CashBack: <b>{{cashbacks1}}</b></p>
    </div>
    <div class="card" style="width: 100%;margin-top: -10px;height:75px">
        <a href="{{items.Flipkart_Link}}"><button
                style=" margin-left: 10px; margin-top:15px ; border-style: none; color: white;background-color:rgb(30 ,144 ,255);height:30px;width:120px;border-radius:2px; margin-bottom: 10px;">Buy
                Now</button></a>
    </div>


</div>













{%endblock body%}